<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD5ZJZ0HomO_yGFW9U2BUgnSN2Xwo-zEWY</string>
	<key>GCM_SENDER_ID</key>
	<string>849370445642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smitgate</string>
	<key>PROJECT_ID</key>
	<string>pushnotification-5885c</string>
	<key>STORAGE_BUCKET</key>
	<string>pushnotification-5885c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:849370445642:ios:f288f08eb56e8fcb7d33b3</string>
</dict>
</plist>